<div id="file-nav" class="dropdown">
  <h3 class="toggler"><strong>Pages</strong></h2>
  <div class="togglee" style="display:none;">
    <h2>Candidates</h2>
    <ul>
      <% %w(Home Job-Page Search Landing-Page).each do |file| %>
        <% klass = file == @title ? "class='active'" : nil %>
        <li <%= klass %>><a href="<%= file %>.html"><%= file.titleize %></a></li>
      <% end %>
    </ul>
    <h2>Recruiters</h2>
    <ul>
      <% %w(Log-In Profile Post-a-Job CV-Search Your-candidates My-Account Buy-Credits Board-Suggestions Cart-Summary Payment Payment-Card Payment-Invoice).each do |file| %>
        <% klass = "Recruiter-#{file}" == @title ? "class='active'" : nil %>
        <li <%= klass %>><a href="Recruiter-<%= file %>.html"><%= file.titleize %></a></li>
      <% end %>
    </ul>
  </div>

</div>