<ul class="nav nav-tabs" data-toggle="tab">
  <li class="active first"><a href="#<%= pre %>-industries" data-toggle="tab"><b>Industry</b></a></li>
  <li><a href="#<%= pre %>-locations" data-toggle="tab"><b>Location</b></a></li>
  <li class='last'><a href="#<%= pre %>-specialties" data-toggle="tab"><b>Specialty</b></a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="<%= pre %>-industries">
    <h2>Browse Jobs by Industry</h2>

    <div class="row-fluid">
      <div class="span4">
        <ul class="column">
          <li><a href="#">Accounting/Finance/Insurance (0)</a></li>
          <li><a href="#">Administrative/Clerical (0)</a></li>
          <li><a href="#">Biotech/R&amp;D/Science (0)</a></li>
          <li><a href="#">Building Construction/Skilled Trades (0)</a></li>
          <li><a href="#">Business/Strategic Management (0)</a></li>
          <li><a href="#">Creative/Design (0)</a></li>
          <li class="last"><a href="#">Customer Support/Client Care (0)</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="column">
          <li><a href="#">Editorial/Writing (0)</a></li>
          <li><a href="#">Education/Training (0)</a></li>
          <li><a href="#">Food Services/Hospitality (0)</a></li>
          <li><a href="#">Human Resources (0)</a></li>
          <li><a href="#">IT/Software Development (0)</a></li>
          <li><a href="#">Installation/Maintenance/Repair (0)</a></li>
          <li class="last"><a href="#">Legal (0)</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="column last">
          <li><a href="#">Logistics/Transportation (0)</a></li>
          <li><a href="#">Manufacturing/Production/Operations (0)</a></li>
          <li><a href="#">Marketing/Product (0)</a></li>
          <li><a href="#">Medical/Health (0)</a></li>
          <li><a href="#">Other (0)</a></li>
          <li><a href="#">Quality Assurance/Safety (0)</a></li>
          <li class="last"><a href="#">Security/Protective Services (0)</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="<%= pre %>-locations">
    <h2>Browse Jobs by Location (TO-DO)</h2>
  </div>

  <div class="tab-pane" id="<%= pre %>-specialties">
    <h2>Browse Jobs by Specialty (TO-DO)</h2>
  </div>
</div>