<ul class="nav nav-tabs <%= pre %>" data-toggle="tab">
  <li class="active first"><a href="#<%= pre %>-industries" data-toggle="tab"><b>Industry</b></a></li>
  <li><a href="#<%= pre %>-locations" data-toggle="tab"><b>Location</b></a></li>
  <li class='last'><a href="#<%= pre %>-specialties" data-toggle="tab"><b>Specialism</b></a></li>
</ul>
<div class="tab-content <%= pre %>">
  <div class="tab-pane active" id="<%= pre %>-industries">
    <h2>Browse Jobs by Industry</h2>

    <div class="row-fluid">
      <div class="span4">
        <ul class="column">
          <li><a href="#">Arts & Heritage jobs (292)</a></li>
          <li><a href="#">Charities jobs (1125)</a></li>
          <li><a href="#">Courses & Training jobs (22)</a></li>
          <li><a href="#">Education jobs (2387)</a></li>
          <li><a href="#">Environment jobs (353)</a></li>
          <li><a href="#">Finance & Accounting jobs (453)</a></li>
          <li class="last"><a href="#">Government & politics jobs (284)</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="column">
          <li><a href="#">Graduate jobs (1014)</a></li>
          <li><a href="#">Health jobs (198)</a></li>
          <li><a href="#">Housing jobs (162)</a></li>
          <li><a href="#">HR & Training jobs (88)</a></li>
          <li><a href="#">Marketing & PR jobs (1500)</a></li>
          <li><a href="#">Media jobs (1452)</a></li>
          <li class="last"><a href="#">Recruitment jobs (523)</a></li>
        </ul>
      </div>

      <div class="span4">
        <ul class="column last">
          <li><a href="#">Sales jobs (942)</a></li>
          <li><a href="#">Secretarial jobs (124)</a></li>
          <li><a href="#">Senior Executive jobs (338)</a></li>
          <li><a href="#">Social care jobs (355)</a></li>
          <li><a href="#">Technology jobs (444)</a></li>
          <li><a href="#">Volunteering jobs (435)</a></li>
          <li class="last"><a href="#">Other jobs (1806)</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="<%= pre %>-locations">
    <h2>Browse Jobs by Location (TO-DO)</h2>
  </div>

  <div class="tab-pane" id="<%= pre %>-specialties">
    <h2>Browse Jobs by Specialism (TO-DO)</h2>
  </div>
</div>