<div class="side col first">
  <% if defined?(companies) %>
    <div class="rows">
      <% companies.map do |company| %>
      <div class="row">
        <%= company %>
        <a href="#" class="delete-row">[x]</a>
      </div>
    <% end %>
    </div>
  <% end %>
  <div id="sidebar" class="thin pad">
    <div class="text field">
      <label>Start new search</label>
      <input type="text" placeholder="Keyword" />
    </div>
    <div class="text field">
      <label>Location</label>
      <input type="text" placeholder="Post code or town" />
    </div>
    <div class="first clear divider"></div>
    <h3 class="toggler open"><strong>Specialisms</strong></h3>
    <div class="togglee">
      <ul>
        <li><a href="#">Sales (13,960)</a></li>
        <li><a href="#">IT & Telecoms (10,235)</a></li>
        <li><a href="#">Financial Services (8,145)</a></li>
        <li><a href="#">Accountancy (7,772)</a></li>
        <li><a href="#">Engineering (7,762)</a></li>
        <li><a href="#">Recruitment Consultancy (7,600)</a></li>
        <li><a href="#">More Specialisms</a></li>
      </ul>
    </div>
    <div class="divider"></div>
    <h3 class="toggler open"><strong>Salary</strong></h3>
    <div class="togglee">
      <ul>
        <li><a href="#">up to €15,000</a></li>
        <li><a href="#">€15,000 - €20,000</a></li>
        <li><a href="#">€20,000 - €30,000</a></li>
        <li><a href="#">€30,000 - €50,000</a></li>
        <li><a href="#">€50,000+</a></li>
      </ul>
    </div>
    <div class="divider"></div>
    <h3 class="toggler open"><strong>Work type</strong></h3>
    <div class="togglee">&nbsp;
      <ul class='checkboxes'>
        <% %w(Permanent Freelance Contract).each do |x| %>
        <li><input type="checkbox" id="<%= x %>"/><label for="<%= x %>"><%= x %></label></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <h3 class="toggler open"><strong>Job level</strong></h3>
    <div class="togglee">&nbsp;
      <ul class='checkboxes'>
        <% ['Entry Level Graduate', 'Experienced (non manager)', 'Management'].each do |x| %>
        <li><input type="checkbox" id="<%= domize(x) %>"/><label for="<%= domize(x) %>"><%= x %></label></li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
