<% @title, @bodyclass = "Recruiter-Your-candidates", "index" %>
<%= partial "shared/recruiter_menu", locals: {active: "Your candidates"} %>

<div class="cv-search page pad">

  <div class="side col thin list">
    <div class="pad">
      <a href="#" class="btn btn-gold btn-medium">New list</a>
      <ul class="nav nav-pills nav-stacked light">
        <li><a href="#" class="user"><span>Recommended</span></a></li>
        <li class="active"><a href="#">View All</a></li>
      </ul>
    </div>

  </div>

  <div class="main col fat first list">

    <h1>Candidates</h1>

    <div class="row-fluid table-header">
      <div class="span6 index-control">
        <input type="checkbox" id="select-all" />
        <label for="select-all" class="fine tall">Select all</label>
        <a href="#" class="btn btn-go btn-medium">Add to list</a>
      </div>
      <div class="span5">
        <div class="go-search">
          <label>Candidate Search</label>
          <input type="text" placeholder="Name or email address"/>
          <input type="submit" value="Go" class="btn btn-go " />
        </div>
      </div>
    </div>

    <table id="select" class="data dotted" cellspacing="0" cellpadding="0" border="0">
      <tr class='pad'>
        <th>&nbsp;</th>
        <th class="first">Name</th>
        <th>Location</th>
        <th>Preferred Salary</th>
        <th class="sort desc"><span>Date added</span></th>
      </tr>
      <% 2.times do %>
      <% data.candidates.each do |c| %>
      <% candidate = c[1] %>
      <tr>
        <td class="check"><input type="checkbox" /></td>
        <td class="first"><%= candidate.name %></td>
        <td><%= candidate.location %></td>
        <td><%= candidate.salary %></td>
        <td><%= candidate.added %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
    <%= partial "shared/pagination" %>
  </div>
<div class="clear"></div>
</div>