<% @title = "Recruiter-Post-a-Job" %>


<%= partial "shared/recruiter_menu", locals: {active: "Post a job"} %>

<div class="page pad-all bigger-text" id="job-new">

  <div class="main col first">
    <div class="block full" id="create-advert">
      <h1>Create your advert</h1>
      <input type="text" placeholder="Job title - e.g Web Developer" class="title" />
      <a href="#" class='add top-right'>Make Bold</a>
      <a href="#" class='add legend'><strong>Add sub category</strong>(€50.00)</a>
    </div>

    <div class="block full">
      <textarea rows="12"></textarea>
      <a href="#" class="btn btn-gray strong">Check Spelling</a>
    </div>

    <div class="hr deboss white"><div>&nbsp;</div></div>
    <label class="legend">Job type</label>
    <div class="block checkboxes floated" id="job-type">
      <label class="legend small">Category</label>
      <div class="select">
        <select><option>Creative and Media</option></select>
      </div>
      <div class="clear"></div>
    </div>

    <div class="block row-fluid form-grad" id="categories">
      <h2 class="legend small clear">Select role/function</h2>
      <% (1..3).each do |n| %>
      <ul class="checkboxes span4">
        <% data.categories.job[n].each do |c| %>
          <li><input type="checkbox"/ id="<%= c[0..4] %>"><label for="<%= c[0..4] %>"><%= c %></label></li>
        <% end %>
      </ul>
      <% end %>
    </div>
    
    <div class="hr dotted thin lite"></div>

    <div class="block checkboxes floated" id="job-type">
      <label class="legend small">Position</label>
      <div class="checks">
        <% %w(Permanent Freelance Contract Temporary).each do |type| %>
        <input type="checkbox" id="<%= type %>"/>
        <label for="<%= type %>"><%= type %></label>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="hr deboss white"><div>&nbsp;</div></div>

    <div class="block" id="duration">
      <label class="legend">Duration online</label>
      <select>
        <option value="30 days">30 days</option>
        <option value="60 days">60 days</option>
        <option value="90 days">90 days</option>
      </select>
      <label class="legend">or until</label>
      <input type="text" class="auto-kal" />
    </div>

    <div class="hr deboss white"><div>&nbsp;</div></div>

    <div class="block">
      
      <h2 class="legend clear">Location</h2>
      <div class="field left-labels">
        <label>Country</label>
        <select>
          <option value="DE">Germany</option>
          <option value="UK">UK</option>
          <option value="US">United States</option>
        </select>
      </div>
      <div class="field left-labels">
        <label>Location</label>
        <input type="text" placeholder="Postcode or Town"/>
      </div>
      <div class="break"></div>
    </div>

    <div class="hr deboss white"><div>&nbsp;</div></div>

    <div class="block" id="salary-details">
      <h2 class="legend clear">Salary Details</h2>
      <select id="salary-currency">
        <option value="EUR">€ EUR</option>
        <option value="GBP">£ GBP</option>
        <option value="USD">$ USD</option>
      </select>
      <label class="legend spaced">From</label>
      <input type="text" placeholder="€" class="amount"/>
      <label class="legend spaced">to</label>
      <input type="text" placeholder="€" class="amount"/>
      <select id="salary-pay-period">
        <option value="year">per annum</option>
        <option value="quarter">per quarter</option>
        <option value="month">per month</option>
        <option value="week">per week</option>
        <option value="day">per day</option>
        <option value="hout">per hour</option>
      </select>
      <div class="field checkboxes" id="display-salary">
        <input type="checkbox" id="salary-display"/>
        <label for="salary-display">Display salary on the advert</label>
      </div>
      <div class="break clear"></div>

      <div class="field checkboxes" id="display-options">
        <label class="strong">Display Options</label>
        <input type="checkbox" id="benefits"/>
        <label for="benefits">Include benefits</label>
        <input type="checkbox" id="negotiable"/>
        <label for="negotiable">Negotiable</label>
      </div>
      <div class="clear"></div>
    </div>

    <div class="feature">
      <a href="#" class="legend add critical">Upgrade to featured ad</a>
      <p>(€150)  Maximise your job listing and have your job appear on the home page along with the client logo</p>
    </div>

    <div class="block row-fluid" id="applications">
      <h2 class="legend clear">Applications</h2>
      <div class="span3">
        <label class="fine">Send applications to</label>
      </div>
      <div class="span8">
        <ul class="checkboxes">
          <li>
            <input type="radio" name="appsend" id="send-to-recruiter" checked/>
            <label for="send-to-recruiter">recruiter@gmail.com</label>
          </li>
          <li>
            <input type="radio" name="appsend" id="send-to-alt"/>
            <label for="send-to-alt">alternative email address</label>
            <input type="text" id="alt-email"/>
          </li>
        </ul>
      </div>
    </div>
    <div class="hr deboss white"><div>&nbsp;</div></div>
    <div class="block" id="job-ref">
      <br>
      <p>You have selected 2 x job listings and one featured job listing’. Your adverts will be active for a maximum of 30 days.</p>
      <label class="fine">Add job reference</label>
      <input type="text" id="job-reference" />
      <div class="clear break"></div>
      <a href="#" class="add critical legend">Create another job listing</a>
    </div>
    
    <div class="hr deboss white"><div>&nbsp;</div></div>

    <div class="block">
      <h2 class="legend clear">Account Details</h2>
      <div class="field left-labels wide">
      <label>Title</label>
      <select>
        <option value="Mr">Mr</option>
        <option value="Ms">Ms</option>
        <option value="Mrs">Mrs</option>
      </select>
    </div>
    <div class="field left-labels wide">
      <label>Email address</label>
      <input type="text"/>
    </div>
    <div class="field left-labels wide">
      <label>Password</label>
      <input type="password"/>
    </div>
    <div class="field left-labels wide">
      <label>Confirm Password</label>
      <input type="password"/>
    </div>
    <br/>
    </div>
    

    <div class="hr deboss white"><div>&nbsp;</div></div>

    <div class="submit-form">
      <input type="submit" value="Save draft" class="btn btn-cancel"/>
      <input type="submit" value="Cancel" class="btn btn-cancel"/>
      <input type="submit" value="Checkout" class="btn btn-checkout pull-right" />
    </div>


  </div>

  <div class="side col thin-panes">

    <h2 class="pane-title">Cart Summary</h2>
    <%= partial "shared/cart_summary", locals: {button: 'Add to cart'} %>
    <%= partial "shared/chat_pane" %>

  </div>

  <div class="clear"></div>
</div>